<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot_project.dao.TimetableDao">

    <select id="findBySearch" resultType="org.example.springboot_project.entity.Timetable">
        select * from timetable
        <where>
            <if test="params != null and params.classname != null and params.classname != ''">
                and classname like concat('%', #{ params.classname },'%')
            </if>
            <if test="params != null and params.teacher != null and params.teacher != ''">
                and teacher like concat('%', #{ params.teacher },'%')
                or teacher1 like concat('%', #{ params.teacher },'%')
                or teacher2 like concat('%', #{ params.teacher },'%')
                or teacher3 like concat('%', #{ params.teacher },'%')
            </if>
        </where>
    </select>



</mapper>